<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ContactsApp</title>
</head>
<body>
  <p><a href = "https://your-frontend-domain/reset-password?token={{jwtToken}}" target="_blank" style="display:block;margin: 40px auto 20px;width:max-content;padding:8px 16px;text-decoration: none;color:#fff;background:green;border-radius:16px;">Click to reset password!</a></p>

  <p style="text-align:center;"><strong>Link expires in 5 min</strong></p>
</body>
</html>
